<div>
	<div class="col-lg-4 col-lg-offset-2">
	     <h2> Yıldız Forum </h2>
	     <hr />
	     <p class="text-success description">Google's generation of page titles and descriptions is completely automated and takes into account both the content of a page as well as references to it that appear on the web. The goal of the snippet and title is to best represent and describe each result and explain how it relates to the user's query.</p>
	 </div>
	 <div class="col-lg-4 col-lg-offset-1">
	  <form class="form-signin" role="form" id="kayitForm">
	      <h2 class="form-signin-heading">Aramıza Katılın</h2>
	      <hr />
	      <div class="form-group">
	           <label for="takma_ad">Ad</label>
	          <input type="text" class="form-control" required>
	      </div>  
	      <div class="form-group">
	          <label for="takma_ad">Soyad</label>
	          <input type="text" class="form-control"  required>
	      </div>
	      <div class="form-group">
	          <label for="takma_ad">E-mail</label>
	          <input type="email" class="form-control"  required autofocus="">
	      </div>
	      <div class="form-group">
	          <label for="takma_ad">Parola</label>
	          <input type="password" class="form-control"  required=>
	      </div>
	      <div class="form-group">
	          <label for="takma_ad">Parola Doğrulama</label>
	          <input type="password" class="form-control" required>
	      </div>
	      <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="register()">Kayıt Ol</button>
	 </form>
	</div>
</div>